@model Tuple<IEnumerable<FURNITURE.Models.HomePageZ>,IEnumerable<FURNITURE.Models.Testimonial>,IEnumerable<FURNITURE.Models.ContactUsZ>,IEnumerable<FURNITURE.Models.AboutUsZ>,IEnumerable<FURNITURE.Models.Service>>

@{
    ViewData["Title"] = "Home";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>





    <!--====== Required meta tags ======-->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />
    <title>Furnish</title>






     <!-- bootstrap css -->
      <link rel="stylesheet" href="~/About_us_assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="~/About_us_assets/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="~/About_us_assets/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="~/About_us_assets/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="~/About_us_assets/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="~/About_us_assets/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="~/About_us_assets/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="~/About_us_ssets/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="~/About_us_ssets/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->












    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/SharedAssets/assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/bootstrap.min.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/animate.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/slick.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/LineIcons.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/SharedAssets/assets/css/style.css">

    <!--====== Responsive css ======-->

    <link rel="stylesheet" href="~/SharedAssets/assets/css/responsive.css">




   
</head>
<body>
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="spin">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>

    <!--====== PRELOADER PART START ======-->
    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            @foreach(var item in Model.Item1)
                            {
                            <img src=@Url.Content("~/Images/" + item.Logo) asp-append-version="true" />
                            }
                        </a> <!-- Logo -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="bar-icon"></span>
                            <span class="bar-icon"></span>
                            <span class="bar-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                            <ul id="nav" class="navbar-nav ml-auto">
                                 <li class="nav-item">
                                    <a data-scroll-nav="0" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a data-scroll-nav="0" asp-controller="Home" asp-action="Products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a data-scroll-nav="0" asp-controller="Home" asp-action="Gallery">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a data-scroll-nav="0" asp-controller="Home" asp-action="Contact_us">Contact us</a>
                                </li>
                                <li class="nav-item">
                                    <a data-scroll-nav="0" asp-controller="Home" asp-action="About_us">About us</a>
                                </li>
                                 <li class="nav-item">
                                    <b style="color:coral;">|</b>
                                </li>
                                <li class="nav-item">
                                    @foreach(var item in Model.Item1)
                                    {
                                    <h1 style=" width: 100% ;  float: left;font-size: 16px; color:coral;padding-top:1px">
                                     Call Us : @item.Phone
                                    </h1>
                                    }
                                </li>
                                <li class="nav-item">
                                    <b style="color:coral;">|</b>
                                </li>
                                <!-- USER CHECK STARTS-->
                                @{
                                    if (ViewBag.loggedin == 60)
                                    {

                                        <li class="nav-item">
                                            <a data-scroll-nav="0" asp-controller="UserPages" asp-action="Discover">User Dashboard</a>
                                        </li>
                                    }

                                    else if (ViewBag.Adminloggedin == 70)
                                    {
                                        <li class="nav-item">
                                            <a data-scroll-nav="0" asp-controller="Statistics" asp-action="Statistics">Admin Dashboard</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a data-scroll-nav="0" asp-controller="Authentication" asp-action="Login">Log in</a>
                                        </li>
                                        <li class="nav-item">
                                            <a data-scroll-nav="0" asp-controller="Authentication" asp-action="Register">Register</a>
                                        </li>

                                    }
                                }
                                <!--USER CHECK ENDS-->
                                    

                               
                            </ul> <!-- navbar nav -->
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    
    <!--====== SHOWCASE PART START ======-->
    
    <section id="showcase" class="showcase-area pt-100 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="showcase-title pt-25">
                        @foreach (var item in Model.Item1)
                        {
                            <h2 class="title" style="color:coral">@item.Text1</h2>
                        }
                    </div> <!-- showcase title -->
                </div> 
                <div class="col-lg-6">
                    <div class="showcase-title pt-25">
                        @foreach (var item in Model.Item1)
                        {
                            <p>@item.Paragraph</p>
                        }
                    </div> <!-- showcase title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="showcase-active mt-65">
                        <div class="single-showcase">

                            @foreach (var item in Model.Item1)
                             {
                                <img src=@Url.Content("~/Images/" + item.Image) asp-append-version="true" />
                             }
                            <a href="#" class="main-btn" style="font-size:20px;">Full Preview</a>

                        </div> <!-- single showcase -->
                        <div class="single-showcase">
                            @foreach (var item in Model.Item1)
                            {
                                <img src=@Url.Content("~/Images/" + item.Image2) asp-append-version="true" />
                            }
                            <a href="#" class="main-btn" style="font-size:20px;">Full Preview</a>

                        </div> <!-- single showcase -->
                    </div> <!-- showcase active -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== SHOWCASE PART ENDS ======-->
   








<!--====== SLIDER PART START ======-->

<section id="home" class="slider-area pt-100">
    <div class="container-fluid position-relative">
        <div class="slider-active">
            <div class="single-slider">
                <div class="slider-bg">
                    <div class="row no-gutters align-items-center ">
                        <div class="col-lg-4 col-md-5">
                            <div class="slider-product-image d-none d-md-block">
                                <img src="~/SharedAssets/assets/images/slider/1.jpg" alt="Slider">
                                <div class="slider-discount-tag">
                                    <p>-50% <br> OFF</p>
                                </div>
                            </div> <!-- slider product image -->
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="slider-product-content">
                                <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s"><span>Sofas</span> and <span>Armchairs</span></h1>
                                <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s">One day however a small line of blind text by the name of Lorem Ipsum <br> decided to leave for the far World of Grammar.</p>
                                    <a class="main-btn" href="/Home/Products" data-animation="fadeInUp" data-delay="1.5s">Explore More <i class="lni-chevron-right"></i></a>
                            </div> <!-- slider product content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->

            <div class="single-slider">
                <div class="slider-bg">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-4 col-md-5">
                            <div class="slider-product-image d-none d-md-block">
                                <img src="~/SharedAssets/assets/images/slider/3.jpg" alt="Slider">
                                <div class="slider-discount-tag">
                                    <p>-20% <br> OFF</p>
                                </div>
                            </div> <!-- slider product image -->
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="slider-product-content">
                                <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s"><span>Winter</span> Sale! is <span>Here</span></h1>
                                <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s">One day however a small line of blind text by the name of Lorem Ipsum <br> decided to leave for the far World of Grammar.</p>
                                    <a class="main-btn" href="/Home/Products" data-animation="fadeInUp" data-delay="1.5s">Explore More <i class="lni-chevron-right"></i></a>
                            </div> <!-- slider product content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->

        </div> <!-- slider active -->
        <div class="slider-social">
            <div class="row justify-content-end">
                <div class="col-lg-7 col-md-6">
                    <ul class="social text-right">
                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                        <li><a href="#"><i class="lni-medium"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- container fluid -->
</section>

<!--====== SLIDER PART ENDS ======-->
    <!--====== DISCOUNT PRODUCT PART START ======-->

    <section id="discount-product" class="discount-product pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-discount-product mt-30">
                        <div class="product-image">
                            <img src="~/SharedAssets/assets/images/discount-product/product-1.jpg" alt="Product">
                        </div> <!-- product image -->
                        <div class="product-content">
                            <h4 class="content-title mb-15">High-quality furnitures <br> For your home</h4>
                        </div> <!-- product content -->
                    </div> <!-- single discount product -->
                </div>
                <div class="col-lg-6">
                    <div class="single-discount-product mt-30">
                        <div class="product-image">
                            <img src="~/SharedAssets/assets/images/discount-product/product-2.jpg" alt="Product">
                        </div> <!-- product image -->
                        <div class="product-content">
                            <h4 class="content-title mb-15">Hot Offer <br> Discount up to 80%</h4>
                        </div> <!-- product content -->
                    </div> <!-- single discount product -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== DISCOUNT PRODUCT PART ENDS ======-->

    <!-- ====== about PART STARTS ======    -->

    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="titlepage">
                        <h2>About <span style="color:coral;">Us</span></h2>
                        @foreach (var item in Model.Item4)
                        {
                            <p>@item.Paragraph3</p>
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    @foreach (var item in Model.Item4)
                    {
                        <div style="padding-top: 117px;">
                            <figure>
                                <img src=@Url.Content("~/Images/" + item.Image) asp-append-version="true" />
                            </figure>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>

    <!-- ====== about PART ENDS ======    -->


    <!--================================-->


     <!--================================-->




    <!-- TESTIMONAILS  title -->
    <div class="row justify-content-center" style="margin-top:160px; margin-bottom:80px;">
        <div class="col-lg-6">
            <div class="contact-title text-center">
                <h2 class="title"> Testi<span style="color:coral;">monials</span></h2>
            </div> <!-- TESTIMONAILS  title -->
        </div>
    </div> <!-- row -->





    <!--====== TESTIMONIAL PART START ======-->

<section id="testimonial" class="testimonial-area pt-200" style="margin-top:50px;">

    <div class="testimonial-bg bg_cover" style="background-image: url(/SharedAssets/assets/images/testimonial/ts-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                <div class="testimonial-content">
                    <div class="testimonial-active">
                        @foreach(var item in Model.Item2)
                        {
                                if (item.Status == "Accept")
                                {
                                    <div class="single-testimonial">
                                        <i class="lni-quotation"></i>
                                        <p class="mb-30">@item.Message</p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <span>
                                                    <img class="w-px-40  rounded-circle" style="width: 87px;height:80px;" src=@Url.Content("~/Images/" + item.User.Image) asp-append-version="true" />
                                                </span>
                                            </div>
                                            <div class="col-lg-9">
                                                <h6 style="padding-top: 30px;" class="title">@item.User.Fullname</h6>
                                            </div>
                                        </div>
                                    </div> <!-- single testimonial -->
                                }
                        }
                    </div> <!-- testimonial active -->
                </div> <!-- testimonial content -->
            </div>
            <div class="col-lg-7 col-md-4">
                <div class="testimonial-play text-right d-none d-md-block">
                </div> <!-- testimonial play -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->







<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="contact-title text-center">
                    <h2 class="title">Get In <span style="color:coral;">Touch</span></h2>
                </div> <!-- contact title -->
            </div>
        </div> <!-- row -->
        <div class="contact-box mt-70">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info pt-25">
                        <h4 class="info-title">Contact Info</h4>
                        <ul>
                            <li>
                                <div class="single-info mt-30">
                                    <div class="info-icon">
                                        <i class="lni-phone-handset"></i>
                                    </div>
                                    <div class="info-content">
                                        @foreach(var item in Model.Item1)
                                        {
                                        <p>+@item.Phone</p>
                                        }
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info mt-30">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        @foreach (var item in Model.Item1)
                                            {
                                                 <p>@item.Email</p>
                                            }
                                       
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info mt-30">
                                    <div class="info-icon">
                                        <i class="lni-home"></i>
                                    </div>
                                    <div class="info-content">
                                        @foreach (var item in Model.Item1)
                                            {
                                                <p>@item.Address</p>
                                            }
                                        
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                    </div> <!-- contact info -->
                </div>
                <div class="col-lg-8">
                    <div class="contact-form">
                        <form asp-action="Create_from_homepage" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-form form-group">
                                        <input for="NAME" name="NAME" type="text" placeholder="Enter Your Name" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- single form -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-form form-group">
                                        <input for="PHONE" name="PHONE" type="number" placeholder="Enter Your Phone Number" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- single form -->
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-form form-group">
                                        <input for="EMAIL" name="EMAIL" type="email" placeholder="Enter Your Email" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- single form -->
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-form form-group">
                                        <textarea for="MESSAGE" name="MESSAGE" placeholder="Enter Your Message" required="required"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- single form -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-lg-12">
                                    <div class="single-form form-group">
                                        <button class="main-btn" type="submit" value="Create_from_ContactUspage">CONTACT NOW</button>
                                    </div> <!-- single form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
        </div> <!-- contact box -->
    </div> <!-- container -->
</section>

<!--====== CONTACT PART ENDS ======-->
    <!--======  service starts =====-->
    <div class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage" style="margin-right:109px;">
                        <h2>Our <span style="color:coral;margin-bottom:30px">Services</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row ml-6">

                        @foreach (var item in Model.Item5)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="service_box m-3">
                                    <i><img src=@Url.Content("~/Images/" + item.Image) asp-append-version="true" alt="#" /></i>
                                    <h3>@item.Name</h3>
                                    <p>@item.Text</p>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== end service ======-->
    <!--====== FOOTER PART START ======-->

    <section id="footer" class="footer-area">
        <div class="container">
            <div class="footer-widget pt-75 pb-120">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-7">
                        <div class="footer-logo mt-40">
                            <a href="#">
                                @foreach (var item in Model.Item1)
                                {
                                    <img src=@Url.Content("~/Images/" + item.Logo) asp-append-version="true" />
                                    
                                }
                            </a>
                                                        <p class="mt-10">Follow us</p>
                            <ul class="footer-social mt-25">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title" style="font-size:20px;">Services</h5>
                            <ul>
                                @foreach (var item in Model.Item5)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title" style="font-size:20px;">Help</h5>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a asp-controller="Home" asp-action="Contact_us">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-7">
                        <div class="footer-info mt-50">
                            <h5 class="f-title" style="font-size:20px;">Contact Info</h5>
                            <ul>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Phone :</span>
                                        <div class="footer-info-content">
                                            @foreach (var item in Model.Item1)
                                            {
                                                <p>@item.Phone</p>
                                            }
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Email :</span>
                                        <div class="footer-info-content">
                                            @foreach (var item in Model.Item1)
                                            {
                                                <p>@item.Email</p>
                                            }
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Address :</span>
                                        <div class="footer-info-content">
                                            @foreach (var item in Model.Item1)
                                            {
                                                <p>@item.Address</p>
                                            }
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright pt-15 pb-15">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p>
                                &copy; <span style="color:coral;">Copyright</span> 2023 all rights reserved</>
                           </p>
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!--  footer copyright -->
        </div> <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->


    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/SharedAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/SharedAssets/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/SharedAssets/assets/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/SharedAssets/assets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/SharedAssets/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== nav js ======-->
    <script src="~/SharedAssets/assets/js/jquery.nav.js"></script>

    <!--====== Scroll It js ======-->
    <script src="~/SharedAssets/assets/js/scrollIt.min.js"></script>

    <!--====== Main js ======-->


    <script src="~/SharedAssets/assets/js/main.js"></script>







@*    ------------------------------------
*@



    <script src="~/About_us_ssets/js/jquery.min.js"></script>
    <script src="~/About_us_ssets/js/bootstrap.bundle.min.js"></script>
    <script src="~/About_us_ssets/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/About_us_ssets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/About_us_ssets/js/custom.js"></script>

    
</body>
</html>
