
@model Tuple<IEnumerable<FURNITURE.Models.UserAccountZ>,IEnumerable<FURNITURE.Models.ProductZ>>
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/Admin_Dashboard_Layout.cshtml";
}


<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Three charts -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Customers Count</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">@ViewBag.customerscount</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Number of Products</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">@ViewBag.productsscount</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Number of Categories</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash3"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto">
                            <span class="counter text-info">@ViewBag.categoriescount</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

          <!-- Three charts row 2 -->
        <!-- ============================================================== -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Number of Orders</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash4"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">@ViewBag.orderscount</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Users Contacted Us Count </h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash7"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">@ViewBag.contactuscount</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Sales</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash8"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                        </li>
                        <li class="ms-auto">
                            <span class="counter text-info">$@ViewBag.salessum</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- ============================================================== -->
        


       <!-- ============================= ROW 3 STARTS================================= -->

      <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                                <h5 class="card-title text-primary"> Good job <b>@ViewBag.username</b> 🎉</h5>
                          <p class="mb-4">
                            You have done <span class="fw-bold">72%</span> of Edits today. Check your new site design 
                           </p>

                          <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-primary">View site after edits</a>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img src="~/DashBoardAssets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 order-1">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                             <span class="fw-semibold d-block mb-1">Home Logo</span>
                          </div>
                          <h3 class="card-title mb-2"> <img src="~/SharedAssets/assets/images/logo.png" alt="Logo"></h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                             <span class="fw-semibold d-block mb-1">Site Name</span>
                          </div>
                                <h1 class="card-title mb-2"> <b style="color:coral"> Furnish</b> </h1>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Total Revenue -->
                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-md-8">
                        <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                        <div id="totalRevenueChart" class="px-2" style="min-height: 315px;"><div id="apexcharts2fgxo1al" class="apexcharts-canvas apexcharts2fgxo1al apexcharts-theme-light" style="width: 494px; height: 300px;"><svg id="SvgjsSvg1571" width="494" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="494" height="300"><div class="apexcharts-legend apexcharts-align-left apx-legend-position-top" xmlns="http://www.w3.org/1999/xhtml" style="right: 0px; position: absolute; left: 0px; top: 4px; max-height: 150px;"><div class="apexcharts-legend-series" rel="1" seriesname="2021" data:collapsed="false" style="margin: 2px 10px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(105, 108, 255) !important; color: rgb(105, 108, 255); height: 8px; width: 8px; left: -3px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="2021" data:collapsed="false" style="color: rgb(161, 172, 184); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">2021</span></div><div class="apexcharts-legend-series" rel="2" seriesname="2020" data:collapsed="false" style="margin: 2px 10px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(3, 195, 236) !important; color: rgb(3, 195, 236); height: 8px; width: 8px; left: -3px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="2020" data:collapsed="false" style="color: rgb(161, 172, 184); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">2020</span></div></div><style type="text/css">
                            
    
      </style></foreignObject><g id="SvgjsG1573" class="apexcharts-inner apexcharts-graphical" transform="translate(53.80000114440918, 52)"><defs id="SvgjsDefs1572"><linearGradient id="SvgjsLinearGradient1577" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1578" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop1579" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop1580" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMask2fgxo1al"><rect id="SvgjsRect1582" width="430.1999988555908" height="223.70079907417298" x="-5" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask2fgxo1al"></clipPath><clipPath id="nonForecastMask2fgxo1al"></clipPath><clipPath id="gridRectMarkerMask2fgxo1al"><rect id="SvgjsRect1583" width="424.1999988555908" height="221.70079907417298" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><rect id="SvgjsRect1581" width="21.00999994277954" height="217.70079907417298" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1577)" class="apexcharts-xcrosshairs" y2="217.70079907417298" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG1603" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1604" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1606" font-family="Helvetica, Arial, sans-serif" x="30.0142856325422" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1607">Jan</tspan><title>Jan</title></text><text id="SvgjsText1609" font-family="Helvetica, Arial, sans-serif" x="90.0428568976266" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1610">Feb</tspan><title>Feb</title></text><text id="SvgjsText1612" font-family="Helvetica, Arial, sans-serif" x="150.07142816271102" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1613">Mar</tspan><title>Mar</title></text><text id="SvgjsText1615" font-family="Helvetica, Arial, sans-serif" x="210.0999994277954" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1616">Apr</tspan><title>Apr</title></text><text id="SvgjsText1618" font-family="Helvetica, Arial, sans-serif" x="270.1285706928798" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1619">May</tspan><title>May</title></text><text id="SvgjsText1621" font-family="Helvetica, Arial, sans-serif" x="330.1571419579642" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1622">Jun</tspan><title>Jun</title></text><text id="SvgjsText1624" font-family="Helvetica, Arial, sans-serif" x="390.1857132230486" y="246.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1625">Jul</tspan><title>Jul</title></text></g></g><g id="SvgjsG1640" class="apexcharts-grid"><g id="SvgjsG1641" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1643" x1="0" y1="0" x2="420.1999988555908" y2="0" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1644" x1="0" y1="43.540159814834595" x2="420.1999988555908" y2="43.540159814834595" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1645" x1="0" y1="87.08031962966919" x2="420.1999988555908" y2="87.08031962966919" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1646" x1="0" y1="130.6204794445038" x2="420.1999988555908" y2="130.6204794445038" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1647" x1="0" y1="174.16063925933838" x2="420.1999988555908" y2="174.16063925933838" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1648" x1="0" y1="217.70079907417298" x2="420.1999988555908" y2="217.70079907417298" stroke="#eceef1" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1642" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1650" x1="0" y1="217.70079907417298" x2="420.1999988555908" y2="217.70079907417298" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1649" x1="0" y1="1" x2="0" y2="217.70079907417298" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1584" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1585" class="apexcharts-series" seriesName="2021" rel="1" data:realIndex="0"><path id="SvgjsPath1587" d="M 19.509285661152433 120.62047944450379L 19.509285661152433 62.24819177780151Q 19.509285661152433 52.24819177780151 29.509285661152433 52.24819177780151L 24.519285603931976 52.24819177780151Q 34.519285603931976 52.24819177780151 34.519285603931976 62.24819177780151L 34.519285603931976 62.24819177780151L 34.519285603931976 120.62047944450379Q 34.519285603931976 130.6204794445038 24.519285603931976 130.6204794445038L 29.509285661152433 130.6204794445038Q 19.509285661152433 130.6204794445038 19.509285661152433 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 19.509285661152433 120.62047944450379L 19.509285661152433 62.24819177780151Q 19.509285661152433 52.24819177780151 29.509285661152433 52.24819177780151L 24.519285603931976 52.24819177780151Q 34.519285603931976 52.24819177780151 34.519285603931976 62.24819177780151L 34.519285603931976 62.24819177780151L 34.519285603931976 120.62047944450379Q 34.519285603931976 130.6204794445038 24.519285603931976 130.6204794445038L 29.509285661152433 130.6204794445038Q 19.509285661152433 130.6204794445038 19.509285661152433 120.62047944450379z" pathFrom="M 19.509285661152433 120.62047944450379L 19.509285661152433 120.62047944450379L 34.519285603931976 120.62047944450379L 34.519285603931976 120.62047944450379L 34.519285603931976 120.62047944450379L 34.519285603931976 120.62047944450379L 34.519285603931976 120.62047944450379L 19.509285661152433 120.62047944450379" cy="52.24819177780151" cx="76.53785692623683" j="0" val="18" barHeight="78.37228766670228" barWidth="21.00999994277954"></path><path id="SvgjsPath1588" d="M 79.53785692623683 120.62047944450379L 79.53785692623683 110.14236757411956Q 79.53785692623683 100.14236757411956 89.53785692623683 100.14236757411956L 84.54785686901637 100.14236757411956Q 94.54785686901637 100.14236757411956 94.54785686901637 110.14236757411956L 94.54785686901637 110.14236757411956L 94.54785686901637 120.62047944450379Q 94.54785686901637 130.6204794445038 84.54785686901637 130.6204794445038L 89.53785692623683 130.6204794445038Q 79.53785692623683 130.6204794445038 79.53785692623683 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 79.53785692623683 120.62047944450379L 79.53785692623683 110.14236757411956Q 79.53785692623683 100.14236757411956 89.53785692623683 100.14236757411956L 84.54785686901637 100.14236757411956Q 94.54785686901637 100.14236757411956 94.54785686901637 110.14236757411956L 94.54785686901637 110.14236757411956L 94.54785686901637 120.62047944450379Q 94.54785686901637 130.6204794445038 84.54785686901637 130.6204794445038L 89.53785692623683 130.6204794445038Q 79.53785692623683 130.6204794445038 79.53785692623683 120.62047944450379z" pathFrom="M 79.53785692623683 120.62047944450379L 79.53785692623683 120.62047944450379L 94.54785686901637 120.62047944450379L 94.54785686901637 120.62047944450379L 94.54785686901637 120.62047944450379L 94.54785686901637 120.62047944450379L 94.54785686901637 120.62047944450379L 79.53785692623683 120.62047944450379" cy="100.14236757411956" cx="136.56642819132122" j="1" val="7" barHeight="30.478111870384218" barWidth="21.00999994277954"></path><path id="SvgjsPath1589" d="M 139.56642819132122 120.62047944450379L 139.56642819132122 75.3102397222519Q 139.56642819132122 65.3102397222519 149.56642819132122 65.3102397222519L 144.57642813410075 65.3102397222519Q 154.57642813410075 65.3102397222519 154.57642813410075 75.3102397222519L 154.57642813410075 75.3102397222519L 154.57642813410075 120.62047944450379Q 154.57642813410075 130.6204794445038 144.57642813410075 130.6204794445038L 149.56642819132122 130.6204794445038Q 139.56642819132122 130.6204794445038 139.56642819132122 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 139.56642819132122 120.62047944450379L 139.56642819132122 75.3102397222519Q 139.56642819132122 65.3102397222519 149.56642819132122 65.3102397222519L 144.57642813410075 65.3102397222519Q 154.57642813410075 65.3102397222519 154.57642813410075 75.3102397222519L 154.57642813410075 75.3102397222519L 154.57642813410075 120.62047944450379Q 154.57642813410075 130.6204794445038 144.57642813410075 130.6204794445038L 149.56642819132122 130.6204794445038Q 139.56642819132122 130.6204794445038 139.56642819132122 120.62047944450379z" pathFrom="M 139.56642819132122 120.62047944450379L 139.56642819132122 120.62047944450379L 154.57642813410075 120.62047944450379L 154.57642813410075 120.62047944450379L 154.57642813410075 120.62047944450379L 154.57642813410075 120.62047944450379L 154.57642813410075 120.62047944450379L 139.56642819132122 120.62047944450379" cy="65.3102397222519" cx="196.59499945640562" j="2" val="15" barHeight="65.3102397222519" barWidth="21.00999994277954"></path><path id="SvgjsPath1590" d="M 199.59499945640562 120.62047944450379L 199.59499945640562 14.354015981483457Q 199.59499945640562 4.354015981483457 209.59499945640562 4.354015981483457L 204.60499939918515 4.354015981483457Q 214.60499939918515 4.354015981483457 214.60499939918515 14.354015981483457L 214.60499939918515 14.354015981483457L 214.60499939918515 120.62047944450379Q 214.60499939918515 130.6204794445038 204.60499939918515 130.6204794445038L 209.59499945640562 130.6204794445038Q 199.59499945640562 130.6204794445038 199.59499945640562 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 199.59499945640562 120.62047944450379L 199.59499945640562 14.354015981483457Q 199.59499945640562 4.354015981483457 209.59499945640562 4.354015981483457L 204.60499939918515 4.354015981483457Q 214.60499939918515 4.354015981483457 214.60499939918515 14.354015981483457L 214.60499939918515 14.354015981483457L 214.60499939918515 120.62047944450379Q 214.60499939918515 130.6204794445038 204.60499939918515 130.6204794445038L 209.59499945640562 130.6204794445038Q 199.59499945640562 130.6204794445038 199.59499945640562 120.62047944450379z" pathFrom="M 199.59499945640562 120.62047944450379L 199.59499945640562 120.62047944450379L 214.60499939918515 120.62047944450379L 214.60499939918515 120.62047944450379L 214.60499939918515 120.62047944450379L 214.60499939918515 120.62047944450379L 214.60499939918515 120.62047944450379L 199.59499945640562 120.62047944450379" cy="4.354015981483457" cx="256.62357072149" j="3" val="29" barHeight="126.26646346302033" barWidth="21.00999994277954"></path><path id="SvgjsPath1591" d="M 259.62357072149 120.62047944450379L 259.62357072149 62.24819177780151Q 259.62357072149 52.24819177780151 269.62357072149 52.24819177780151L 264.63357066426954 52.24819177780151Q 274.63357066426954 52.24819177780151 274.63357066426954 62.24819177780151L 274.63357066426954 62.24819177780151L 274.63357066426954 120.62047944450379Q 274.63357066426954 130.6204794445038 264.63357066426954 130.6204794445038L 269.62357072149 130.6204794445038Q 259.62357072149 130.6204794445038 259.62357072149 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 259.62357072149 120.62047944450379L 259.62357072149 62.24819177780151Q 259.62357072149 52.24819177780151 269.62357072149 52.24819177780151L 264.63357066426954 52.24819177780151Q 274.63357066426954 52.24819177780151 274.63357066426954 62.24819177780151L 274.63357066426954 62.24819177780151L 274.63357066426954 120.62047944450379Q 274.63357066426954 130.6204794445038 264.63357066426954 130.6204794445038L 269.62357072149 130.6204794445038Q 259.62357072149 130.6204794445038 259.62357072149 120.62047944450379z" pathFrom="M 259.62357072149 120.62047944450379L 259.62357072149 120.62047944450379L 274.63357066426954 120.62047944450379L 274.63357066426954 120.62047944450379L 274.63357066426954 120.62047944450379L 274.63357066426954 120.62047944450379L 274.63357066426954 120.62047944450379L 259.62357072149 120.62047944450379" cy="52.24819177780151" cx="316.6521419865744" j="4" val="18" barHeight="78.37228766670228" barWidth="21.00999994277954"></path><path id="SvgjsPath1592" d="M 319.6521419865744 120.62047944450379L 319.6521419865744 88.37228766670228Q 319.6521419865744 78.37228766670228 329.6521419865744 78.37228766670228L 324.66214192935394 78.37228766670228Q 334.66214192935394 78.37228766670228 334.66214192935394 88.37228766670228L 334.66214192935394 88.37228766670228L 334.66214192935394 120.62047944450379Q 334.66214192935394 130.6204794445038 324.66214192935394 130.6204794445038L 329.6521419865744 130.6204794445038Q 319.6521419865744 130.6204794445038 319.6521419865744 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 319.6521419865744 120.62047944450379L 319.6521419865744 88.37228766670228Q 319.6521419865744 78.37228766670228 329.6521419865744 78.37228766670228L 324.66214192935394 78.37228766670228Q 334.66214192935394 78.37228766670228 334.66214192935394 88.37228766670228L 334.66214192935394 88.37228766670228L 334.66214192935394 120.62047944450379Q 334.66214192935394 130.6204794445038 324.66214192935394 130.6204794445038L 329.6521419865744 130.6204794445038Q 319.6521419865744 130.6204794445038 319.6521419865744 120.62047944450379z" pathFrom="M 319.6521419865744 120.62047944450379L 319.6521419865744 120.62047944450379L 334.66214192935394 120.62047944450379L 334.66214192935394 120.62047944450379L 334.66214192935394 120.62047944450379L 334.66214192935394 120.62047944450379L 334.66214192935394 120.62047944450379L 319.6521419865744 120.62047944450379" cy="78.37228766670228" cx="376.6807132516588" j="5" val="12" barHeight="52.248191777801516" barWidth="21.00999994277954"></path><path id="SvgjsPath1593" d="M 379.6807132516588 120.62047944450379L 379.6807132516588 101.43433561115265Q 379.6807132516588 91.43433561115265 389.6807132516588 91.43433561115265L 384.69071319443833 91.43433561115265Q 394.69071319443833 91.43433561115265 394.69071319443833 101.43433561115265L 394.69071319443833 101.43433561115265L 394.69071319443833 120.62047944450379Q 394.69071319443833 130.6204794445038 384.69071319443833 130.6204794445038L 389.6807132516588 130.6204794445038Q 379.6807132516588 130.6204794445038 379.6807132516588 120.62047944450379z" fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 379.6807132516588 120.62047944450379L 379.6807132516588 101.43433561115265Q 379.6807132516588 91.43433561115265 389.6807132516588 91.43433561115265L 384.69071319443833 91.43433561115265Q 394.69071319443833 91.43433561115265 394.69071319443833 101.43433561115265L 394.69071319443833 101.43433561115265L 394.69071319443833 120.62047944450379Q 394.69071319443833 130.6204794445038 384.69071319443833 130.6204794445038L 389.6807132516588 130.6204794445038Q 379.6807132516588 130.6204794445038 379.6807132516588 120.62047944450379z" pathFrom="M 379.6807132516588 120.62047944450379L 379.6807132516588 120.62047944450379L 394.69071319443833 120.62047944450379L 394.69071319443833 120.62047944450379L 394.69071319443833 120.62047944450379L 394.69071319443833 120.62047944450379L 394.69071319443833 120.62047944450379L 379.6807132516588 120.62047944450379" cy="91.43433561115265" cx="436.7092845167432" j="6" val="9" barHeight="39.18614383335114" barWidth="21.00999994277954"></path></g><g id="SvgjsG1594" class="apexcharts-series" seriesName="2020" rel="2" data:realIndex="1"><path id="SvgjsPath1596" d="M 19.509285661152433 150.6204794445038L 19.509285661152433 187.22268720378878Q 19.509285661152433 197.22268720378878 29.509285661152433 197.22268720378878L 24.519285603931976 197.22268720378878Q 34.519285603931976 197.22268720378878 34.519285603931976 187.22268720378878L 34.519285603931976 187.22268720378878L 34.519285603931976 150.6204794445038Q 34.519285603931976 140.6204794445038 24.519285603931976 140.6204794445038L 29.509285661152433 140.6204794445038Q 19.509285661152433 140.6204794445038 19.509285661152433 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 19.509285661152433 150.6204794445038L 19.509285661152433 187.22268720378878Q 19.509285661152433 197.22268720378878 29.509285661152433 197.22268720378878L 24.519285603931976 197.22268720378878Q 34.519285603931976 197.22268720378878 34.519285603931976 187.22268720378878L 34.519285603931976 187.22268720378878L 34.519285603931976 150.6204794445038Q 34.519285603931976 140.6204794445038 24.519285603931976 140.6204794445038L 29.509285661152433 140.6204794445038Q 19.509285661152433 140.6204794445038 19.509285661152433 150.6204794445038z" pathFrom="M 19.509285661152433 150.6204794445038L 19.509285661152433 150.6204794445038L 34.519285603931976 150.6204794445038L 34.519285603931976 150.6204794445038L 34.519285603931976 150.6204794445038L 34.519285603931976 150.6204794445038L 34.519285603931976 150.6204794445038L 19.509285661152433 150.6204794445038" cy="177.22268720378878" cx="76.53785692623683" j="0" val="-13" barHeight="-56.60220775928498" barWidth="21.00999994277954"></path><path id="SvgjsPath1597" d="M 79.53785692623683 150.6204794445038L 79.53785692623683 208.99276711120606Q 79.53785692623683 218.99276711120606 89.53785692623683 218.99276711120606L 84.54785686901637 218.99276711120606Q 94.54785686901637 218.99276711120606 94.54785686901637 208.99276711120606L 94.54785686901637 208.99276711120606L 94.54785686901637 150.6204794445038Q 94.54785686901637 140.6204794445038 84.54785686901637 140.6204794445038L 89.53785692623683 140.6204794445038Q 79.53785692623683 140.6204794445038 79.53785692623683 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 79.53785692623683 150.6204794445038L 79.53785692623683 208.99276711120606Q 79.53785692623683 218.99276711120606 89.53785692623683 218.99276711120606L 84.54785686901637 218.99276711120606Q 94.54785686901637 218.99276711120606 94.54785686901637 208.99276711120606L 94.54785686901637 208.99276711120606L 94.54785686901637 150.6204794445038Q 94.54785686901637 140.6204794445038 84.54785686901637 140.6204794445038L 89.53785692623683 140.6204794445038Q 79.53785692623683 140.6204794445038 79.53785692623683 150.6204794445038z" pathFrom="M 79.53785692623683 150.6204794445038L 79.53785692623683 150.6204794445038L 94.54785686901637 150.6204794445038L 94.54785686901637 150.6204794445038L 94.54785686901637 150.6204794445038L 94.54785686901637 150.6204794445038L 94.54785686901637 150.6204794445038L 79.53785692623683 150.6204794445038" cy="198.99276711120606" cx="136.56642819132122" j="1" val="-18" barHeight="-78.37228766670228" barWidth="21.00999994277954"></path><path id="SvgjsPath1598" d="M 139.56642819132122 150.6204794445038L 139.56642819132122 169.80662327785492Q 139.56642819132122 179.80662327785492 149.56642819132122 179.80662327785492L 144.57642813410075 179.80662327785492Q 154.57642813410075 179.80662327785492 154.57642813410075 169.80662327785492L 154.57642813410075 169.80662327785492L 154.57642813410075 150.6204794445038Q 154.57642813410075 140.6204794445038 144.57642813410075 140.6204794445038L 149.56642819132122 140.6204794445038Q 139.56642819132122 140.6204794445038 139.56642819132122 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 139.56642819132122 150.6204794445038L 139.56642819132122 169.80662327785492Q 139.56642819132122 179.80662327785492 149.56642819132122 179.80662327785492L 144.57642813410075 179.80662327785492Q 154.57642813410075 179.80662327785492 154.57642813410075 169.80662327785492L 154.57642813410075 169.80662327785492L 154.57642813410075 150.6204794445038Q 154.57642813410075 140.6204794445038 144.57642813410075 140.6204794445038L 149.56642819132122 140.6204794445038Q 139.56642819132122 140.6204794445038 139.56642819132122 150.6204794445038z" pathFrom="M 139.56642819132122 150.6204794445038L 139.56642819132122 150.6204794445038L 154.57642813410075 150.6204794445038L 154.57642813410075 150.6204794445038L 154.57642813410075 150.6204794445038L 154.57642813410075 150.6204794445038L 154.57642813410075 150.6204794445038L 139.56642819132122 150.6204794445038" cy="159.80662327785492" cx="196.59499945640562" j="2" val="-9" barHeight="-39.18614383335114" barWidth="21.00999994277954"></path><path id="SvgjsPath1599" d="M 199.59499945640562 150.6204794445038L 199.59499945640562 191.5767031852722Q 199.59499945640562 201.5767031852722 209.59499945640562 201.5767031852722L 204.60499939918515 201.5767031852722Q 214.60499939918515 201.5767031852722 214.60499939918515 191.5767031852722L 214.60499939918515 191.5767031852722L 214.60499939918515 150.6204794445038Q 214.60499939918515 140.6204794445038 204.60499939918515 140.6204794445038L 209.59499945640562 140.6204794445038Q 199.59499945640562 140.6204794445038 199.59499945640562 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 199.59499945640562 150.6204794445038L 199.59499945640562 191.5767031852722Q 199.59499945640562 201.5767031852722 209.59499945640562 201.5767031852722L 204.60499939918515 201.5767031852722Q 214.60499939918515 201.5767031852722 214.60499939918515 191.5767031852722L 214.60499939918515 191.5767031852722L 214.60499939918515 150.6204794445038Q 214.60499939918515 140.6204794445038 204.60499939918515 140.6204794445038L 209.59499945640562 140.6204794445038Q 199.59499945640562 140.6204794445038 199.59499945640562 150.6204794445038z" pathFrom="M 199.59499945640562 150.6204794445038L 199.59499945640562 150.6204794445038L 214.60499939918515 150.6204794445038L 214.60499939918515 150.6204794445038L 214.60499939918515 150.6204794445038L 214.60499939918515 150.6204794445038L 214.60499939918515 150.6204794445038L 199.59499945640562 150.6204794445038" cy="181.5767031852722" cx="256.62357072149" j="3" val="-14" barHeight="-60.956223740768436" barWidth="21.00999994277954"></path><path id="SvgjsPath1600" d="M 259.62357072149 150.6204794445038L 259.62357072149 152.39055935192107Q 259.62357072149 162.39055935192107 269.62357072149 162.39055935192107L 264.63357066426954 162.39055935192107Q 274.63357066426954 162.39055935192107 274.63357066426954 152.39055935192107L 274.63357066426954 152.39055935192107L 274.63357066426954 150.6204794445038Q 274.63357066426954 140.6204794445038 264.63357066426954 140.6204794445038L 269.62357072149 140.6204794445038Q 259.62357072149 140.6204794445038 259.62357072149 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 259.62357072149 150.6204794445038L 259.62357072149 152.39055935192107Q 259.62357072149 162.39055935192107 269.62357072149 162.39055935192107L 264.63357066426954 162.39055935192107Q 274.63357066426954 162.39055935192107 274.63357066426954 152.39055935192107L 274.63357066426954 152.39055935192107L 274.63357066426954 150.6204794445038Q 274.63357066426954 140.6204794445038 264.63357066426954 140.6204794445038L 269.62357072149 140.6204794445038Q 259.62357072149 140.6204794445038 259.62357072149 150.6204794445038z" pathFrom="M 259.62357072149 150.6204794445038L 259.62357072149 150.6204794445038L 274.63357066426954 150.6204794445038L 274.63357066426954 150.6204794445038L 274.63357066426954 150.6204794445038L 274.63357066426954 150.6204794445038L 274.63357066426954 150.6204794445038L 259.62357072149 150.6204794445038" cy="142.39055935192107" cx="316.6521419865744" j="4" val="-5" barHeight="-21.770079907417298" barWidth="21.00999994277954"></path><path id="SvgjsPath1601" d="M 319.6521419865744 150.6204794445038L 319.6521419865744 204.6387511297226Q 319.6521419865744 214.6387511297226 329.6521419865744 214.6387511297226L 324.66214192935394 214.6387511297226Q 334.66214192935394 214.6387511297226 334.66214192935394 204.6387511297226L 334.66214192935394 204.6387511297226L 334.66214192935394 150.6204794445038Q 334.66214192935394 140.6204794445038 324.66214192935394 140.6204794445038L 329.6521419865744 140.6204794445038Q 319.6521419865744 140.6204794445038 319.6521419865744 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 319.6521419865744 150.6204794445038L 319.6521419865744 204.6387511297226Q 319.6521419865744 214.6387511297226 329.6521419865744 214.6387511297226L 324.66214192935394 214.6387511297226Q 334.66214192935394 214.6387511297226 334.66214192935394 204.6387511297226L 334.66214192935394 204.6387511297226L 334.66214192935394 150.6204794445038Q 334.66214192935394 140.6204794445038 324.66214192935394 140.6204794445038L 329.6521419865744 140.6204794445038Q 319.6521419865744 140.6204794445038 319.6521419865744 150.6204794445038z" pathFrom="M 319.6521419865744 150.6204794445038L 319.6521419865744 150.6204794445038L 334.66214192935394 150.6204794445038L 334.66214192935394 150.6204794445038L 334.66214192935394 150.6204794445038L 334.66214192935394 150.6204794445038L 334.66214192935394 150.6204794445038L 319.6521419865744 150.6204794445038" cy="194.6387511297226" cx="376.6807132516588" j="5" val="-17" barHeight="-74.01827168521882" barWidth="21.00999994277954"></path><path id="SvgjsPath1602" d="M 379.6807132516588 150.6204794445038L 379.6807132516588 195.9307191667557Q 379.6807132516588 205.9307191667557 389.6807132516588 205.9307191667557L 384.69071319443833 205.9307191667557Q 394.69071319443833 205.9307191667557 394.69071319443833 195.9307191667557L 394.69071319443833 195.9307191667557L 394.69071319443833 150.6204794445038Q 394.69071319443833 140.6204794445038 384.69071319443833 140.6204794445038L 389.6807132516588 140.6204794445038Q 379.6807132516588 140.6204794445038 379.6807132516588 150.6204794445038z" fill="rgba(3,195,236,0.85)" fill-opacity="1" stroke="#ffffff" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask2fgxo1al)" pathTo="M 379.6807132516588 150.6204794445038L 379.6807132516588 195.9307191667557Q 379.6807132516588 205.9307191667557 389.6807132516588 205.9307191667557L 384.69071319443833 205.9307191667557Q 394.69071319443833 205.9307191667557 394.69071319443833 195.9307191667557L 394.69071319443833 195.9307191667557L 394.69071319443833 150.6204794445038Q 394.69071319443833 140.6204794445038 384.69071319443833 140.6204794445038L 389.6807132516588 140.6204794445038Q 379.6807132516588 140.6204794445038 379.6807132516588 150.6204794445038z" pathFrom="M 379.6807132516588 150.6204794445038L 379.6807132516588 150.6204794445038L 394.69071319443833 150.6204794445038L 394.69071319443833 150.6204794445038L 394.69071319443833 150.6204794445038L 394.69071319443833 150.6204794445038L 394.69071319443833 150.6204794445038L 379.6807132516588 150.6204794445038" cy="185.9307191667557" cx="436.7092845167432" j="6" val="-15" barHeight="-65.3102397222519" barWidth="21.00999994277954"></path></g><g id="SvgjsG1586" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1595" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine1651" x1="0" y1="0" x2="420.1999988555908" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1652" x1="0" y1="0" x2="420.1999988555908" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1653" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1654" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1655" class="apexcharts-point-annotations"></g></g><g id="SvgjsG1626" class="apexcharts-yaxis" rel="0" transform="translate(15.80000114440918, 0)"><g id="SvgjsG1627" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1628" font-family="Helvetica, Arial, sans-serif" x="20" y="53.5" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1629">30</tspan><title>30</title></text><text id="SvgjsText1630" font-family="Helvetica, Arial, sans-serif" x="20" y="97.0401598148346" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1631">20</tspan><title>20</title></text><text id="SvgjsText1632" font-family="Helvetica, Arial, sans-serif" x="20" y="140.5803196296692" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1633">10</tspan><title>10</title></text><text id="SvgjsText1634" font-family="Helvetica, Arial, sans-serif" x="20" y="184.1204794445038" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1635">0</tspan><title>0</title></text><text id="SvgjsText1636" font-family="Helvetica, Arial, sans-serif" x="20" y="227.66063925933838" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1637">-10</tspan><title>-10</title></text><text id="SvgjsText1638" font-family="Helvetica, Arial, sans-serif" x="20" y="271.200799074173" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1639">-20</tspan><title>-20</title></text></g></g><g id="SvgjsG1574" class="apexcharts-annotations"></g></svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(105, 108, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(3, 195, 236);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                      <div class="resize-triggers"><div class="expand-trigger"><div style="width: 511px; height: 377px;"></div></div><div class="contract-trigger"></div></div></div>
                      <div class="col-md-4">
                        <div class="card-body">
                          <div class="text-center">
                            <div class="dropdown">
                              <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                2022
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                <a class="dropdown-item" href="javascript:void(0);">2019</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="growthChart" style="min-height: 154.875px;"><div id="apexchartsekkf1p7y" class="apexcharts-canvas apexchartsekkf1p7y apexcharts-theme-light" style="width: 255px; height: 154.875px;"><svg id="SvgjsSvg1656" width="255" height="154.875" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1658" class="apexcharts-inner apexcharts-graphical" transform="translate(20.5, -25)"><defs id="SvgjsDefs1657"><clipPath id="gridRectMaskekkf1p7y"><rect id="SvgjsRect1660" width="222" height="285" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskekkf1p7y"></clipPath><clipPath id="nonForecastMaskekkf1p7y"></clipPath><clipPath id="gridRectMarkerMaskekkf1p7y"><rect id="SvgjsRect1661" width="220" height="287" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1666" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop1667" stop-opacity="1" stop-color="rgba(105,108,255,1)" offset="0.3"></stop><stop id="SvgjsStop1668" stop-opacity="0.6" stop-color="rgba(255,255,255,0.6)" offset="0.7"></stop><stop id="SvgjsStop1669" stop-opacity="0.6" stop-color="rgba(255,255,255,0.6)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1677" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop1678" stop-opacity="1" stop-color="rgba(105,108,255,1)" offset="0.3"></stop><stop id="SvgjsStop1679" stop-opacity="0.6" stop-color="rgba(105,108,255,0.6)" offset="0.7"></stop><stop id="SvgjsStop1680" stop-opacity="0.6" stop-color="rgba(105,108,255,0.6)" offset="1"></stop></linearGradient></defs><g id="SvgjsG1662" class="apexcharts-radialbar"><g id="SvgjsG1663"><g id="SvgjsG1664" class="apexcharts-tracks"><g id="SvgjsG1665" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 73.83506097560974 167.17541022773656 A 68.32987804878049 68.32987804878049 0 1 1 142.16493902439026 167.17541022773656" fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="17.357317073170734" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 73.83506097560974 167.17541022773656 A 68.32987804878049 68.32987804878049 0 1 1 142.16493902439026 167.17541022773656"></path></g></g><g id="SvgjsG1671"><g id="SvgjsG1676" class="apexcharts-series apexcharts-radial-series" seriesName="Growth" rel="1" data:realIndex="0"><path id="SvgjsPath1681" d="M 73.83506097560974 167.17541022773656 A 68.32987804878049 68.32987804878049 0 1 1 175.95555982735613 100.85758285229481" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1677)" stroke-opacity="1" stroke-linecap="butt" stroke-width="17.357317073170734" stroke-dasharray="5" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="234" data:value="78" index="0" j="0" data:pathOrig="M 73.83506097560974 167.17541022773656 A 68.32987804878049 68.32987804878049 0 1 1 175.95555982735613 100.85758285229481"></path></g><circle id="SvgjsCircle1672" r="54.65121951219512" cx="108" cy="108" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1673" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1674" font-family="Public Sans" x="108" y="123" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="500" fill="#566a7f" class="apexcharts-text apexcharts-datalabel-label" style="font-family:&quot;Public Sans&quot;">Growth</text><text id="SvgjsText1675" font-family="Public Sans" x="108" y="99" text-anchor="middle" dominant-baseline="auto" font-size="22px" font-weight="500" fill="#566a7f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: &quot;Public Sans&quot;">78%</text></g></g></g></g><line id="SvgjsLine1682" x1="0" y1="0" x2="216" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1683" x1="0" y1="0" x2="216" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1659" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div>
                        <div class="text-center fw-semibold pt-3 mb-2">62% Company Growth</div>

                        <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>2022</small>
                              <h6 class="mb-0">$32.5k</h6>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>2021</small>
                              <h6 class="mb-0">$41.2k</h6>
                            </div>
                          </div>
                        </div>
                      <div class="resize-triggers"><div class="expand-trigger"><div style="width: 256px; height: 377px;"></div></div><div class="contract-trigger"></div></div></div>
                    </div>
                  </div>
                </div>
                <!--/ Total Revenue -->
                <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                  <div class="row">
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="~/DashBoardAssets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded">
                            </div>
                          </div>
                          <span class="d-block mb-1">Payments</span>
                          <h3 class="card-title text-nowrap mb-2">$@ViewBag.paymentssum</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="~/DashBoardAssets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded">
                            </div>
                          </div>
                                                       <span class="d-block mb-1" >Payments Type :</span>

                          <h4 class="card-title mb-2" style="margin:10px;">Credit Cards</h4>
                        </div>
                      </div>
                    </div>
                    <!-- </div>  <div class="row"> -->
                    <div class="col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between flex-sm-row flex-column gap-3" style="position: relative;">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                              <div class="card-title">
                                <h5 class="text-nowrap mb-2">Profile Report</h5>
                                <span class="badge bg-label-warning rounded-pill">Year 2021</span>
                              </div>
                              <div class="mt-sm-auto">
                                <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i> 68.2%</small>
                                <h3 class="mb-0">$84,686k</h3>
                              </div>
                            </div>
                            <div id="profileReportChart" style="min-height: 80px;"><div id="apexcharts4aa60mz4" class="apexcharts-canvas apexcharts4aa60mz4 apexcharts-theme-light" style="width: 184px; height: 80px;"><svg id="SvgjsSvg1685" width="184" height="80" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1687" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1686"><clipPath id="gridRectMask4aa60mz4"><rect id="SvgjsRect1692" width="185" height="85" x="-4.5" y="-2.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask4aa60mz4"></clipPath><clipPath id="nonForecastMask4aa60mz4"></clipPath><clipPath id="gridRectMarkerMask4aa60mz4"><rect id="SvgjsRect1693" width="180" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter1699" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1700" flood-color="#ffab00" flood-opacity="0.15" result="SvgjsFeFlood1700Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1701" in="SvgjsFeFlood1700Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1701Out"></feComposite><feOffset id="SvgjsFeOffset1702" dx="5" dy="10" result="SvgjsFeOffset1702Out" in="SvgjsFeComposite1701Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1703" stdDeviation="3 " result="SvgjsFeGaussianBlur1703Out" in="SvgjsFeOffset1702Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1704" result="SvgjsFeMerge1704Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1705" in="SvgjsFeGaussianBlur1703Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1706" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1707" in="SourceGraphic" in2="SvgjsFeMerge1704Out" mode="normal" result="SvgjsFeBlend1707Out"></feBlend></filter></defs><line id="SvgjsLine1691" x1="0" y1="0" x2="0" y2="80" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="80" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1708" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1709" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1717" class="apexcharts-grid"><g id="SvgjsG1718" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1720" x1="0" y1="0" x2="176" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1721" x1="0" y1="20" x2="176" y2="20" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1722" x1="0" y1="40" x2="176" y2="40" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1723" x1="0" y1="60" x2="176" y2="60" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1724" x1="0" y1="80" x2="176" y2="80" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1719" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1726" x1="0" y1="80" x2="176" y2="80" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1725" x1="0" y1="1" x2="0" y2="80" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1694" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1695" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1698" d="M 0 76C 12.32 76 22.880000000000003 12 35.2 12C 47.52 12 58.080000000000005 62 70.4 62C 82.72 62 93.28 22 105.60000000000001 22C 117.92000000000002 22 128.48000000000002 38 140.8 38C 153.12 38 163.68 6 176 6" fill="none" fill-opacity="1" stroke="rgba(255,171,0,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMask4aa60mz4)" filter="url(#SvgjsFilter1699)" pathTo="M 0 76C 12.32 76 22.880000000000003 12 35.2 12C 47.52 12 58.080000000000005 62 70.4 62C 82.72 62 93.28 22 105.60000000000001 22C 117.92000000000002 22 128.48000000000002 38 140.8 38C 153.12 38 163.68 6 176 6" pathFrom="M -1 120L -1 120L 35.2 120L 70.4 120L 105.60000000000001 120L 140.8 120L 176 120"></path><g id="SvgjsG1696" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1732" r="0" cx="0" cy="0" class="apexcharts-marker wuq4a17ou no-pointer-events" stroke="#ffffff" fill="#ffab00" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1697" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1727" x1="0" y1="0" x2="176" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1728" x1="0" y1="0" x2="176" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1729" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1730" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1731" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1690" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1716" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1688" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 40px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 171, 0);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                          <div class="resize-triggers"><div class="expand-trigger"><div style="width: 323px; height: 118px;"></div></div><div class="contract-trigger"></div></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

       <!-- ============================== ROW 3 ENDS================================ -->

      



        <!-- RECENT ADDED PRODUCTS -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <h3 class="box-title mb-0" style="color:coral;">Recent Added Products</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Name</th>
                                    <th class="border-top-0">Image</th>
                                    <th class="border-top-0">Categorie</th>
                                    <th class="border-top-0">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    
                                foreach (var item in Model.Item2)
                                {
                                    <tr>
                                        <td class="txt-oflo">@item.Name</td>
                                        <td> <img src=@Url.Content("~/Images/" + item.Image)
                                           asp-append-version="true" style="border-radius:250%;" width="100" height="100"  /></td>
                                        <td class="txt-oflo">@item.Category.Name</td>
                                        <td><span class="text-success">$@item.Price</span></td>
                                    </tr>
                                }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        
        <!-- Recent Comments -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- .col -->
            <div class="col-md-12 col-lg-8 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-body">
                        <h3 class="box-title mb-0">Recent users</h3>
                    </div>
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        @{foreach (var item in Model.Item1)
                            {
                                   <div class="d-flex flex-row comment-row p-3 mt-0">
                            <div class="p-2"> <img src=@Url.Content("~/Images/" + item.Image)
                                           asp-append-version="true"  alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text ps-2 ps-md-3 w-100">
                                <h5 class="font-medium">@item.Fullname</h5>
                                <span class="mb-3 d-block">@item.Email </span>
                                <div class="comment-footer d-md-flex align-items-center">
                                    <span class="badge bg-primary rounded">@item.Phone</span>

                                    <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                                </div>
                            </div>
                        </div>

                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-heading">
                        <h3 class="box-title mb-0">Chat Listing</h3>
                    </div>
                    <div class="card-body">
                      <ul class="chatonline">

                        @{ foreach (var item in Model.Item1 )
                         {
                                    
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                            <img src=@Url.Content("~/Images/" + item.Image) asp-append-version="true" style="border-radius: 70%;;" width="20" height="40" /><br />
                                            <div class="ms-2">
                                        <span class="text-dark">@item.Fullname <small class="d-block text-success d-block">online</small></span>
                                    </div>
                                </a>
                            </li>
                        }
                        }

                      </ul>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>




    </div>
    <!-- / Content -->
   







    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->